/*
 * ~~~~~~~~~~~~~~~~~~~~
 * Component - Buttons
 * This is a designed component, a chunk of UI.
 * ~~~~~~~~~~~~~~~~~~~~
 */

@import 'settings/globals';

.vrm-button {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display: inline-block;
	box-sizing: border-box;
	margin: 0 0 1em;
	padding: .5em 1.5em;
	appearance: none;
	box-shadow: 0;
	border: 0;
	border-radius: $border-radius;
	background: $primary;
	font-family: $font-family;
	font-size: $font-size;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: $white;
	line-height: 1.4;
	vertical-align: middle;
	transition: background 900ms $easing;

	&::before {
		content: "";
		position: absolute;
		top: calc(50% - 300px);
		left: calc(50% - 300px);
		display: block;
		width: 600px;
		height: 600px;
		border-radius: 50%;
		background: lighten($white, 6%);
		opacity: .2;
		transform: scale(0);
	}

	i {
		display: block;
		min-width: 1em;
		height: 1em;
		font-size: 1em;
		font-style: normal;
		line-height: 1em;
		text-align: center;

		svg {
			display: block;
			height: 1em;
			min-width: 1em;
			fill: $white;
		}
	}

	&:disabled { cursor: default; }

	&:focus {
		outline: none;

		&::before {
			opacity: 0;
			transform: scale(1);
			transition: all 3200ms $easing;
		}
	}

	&:visited { color: $white; }

	&:hover {
		background: lighten($primary, 6%);
		color: $white;
	}

	&:active { color: $white; }

	&--secondary  {
		background: $secondary;

		&:hover { background: lighten($secondary, 6%); }
	}

	&--inactive {
		background: $stealth-grey;

		&:hover { background: $stealth-grey; }
	}

	&--big { font-size: $font-size * 1.2; }

	&--tiny { font-size: $font-size * .8; }

	&--wide { width: 100%; }

	&--icon { padding: .5em; }

	&--round { border-radius: 50%; }

	&--square { border-radius: 0; }
}
