/*
 * Component - Filters
 */

@import 'settings/globals';

.vrm-filters {
	display: flex;
	flex-flow: wrap row;
	margin: 0;
	padding: 0;

	.vrm-filter {
		max-width: 100%;
		flex: 1 1 100%;
		padding: 1em 0;
		border-top: 1px solid $element-grey;

		&:first-of-type {
			border-top: none;
		}
		&:last-of-type {
			border-bottom: 1px solid $element-grey;
		}

		> :first-child {
			h5 {
				position: relative;
				margin: 0;
				cursor: pointer;

				> i {
					float: right;
					margin-right: 0.25em;

					> svg {
						width: 1em;
						height: 1em;
						position: absolute;
						top: 50%;
						bottom: 50%;
						transform: translate(-50%, -50%);
						fill: $textual-grey;
					}
				}
			}
		}
	}
}
