/*
 * Component - Multiple
 */

@import 'settings/globals';

.vrm-filter {
	&__multiple {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			-webkit-margin-before: 0;
			-webkit-margin-after: 0;

			li {
				width: 100%;

				> label {
					cursor: pointer;
					margin: 0;
					font-size: 1.4rem;
					line-height: 1.6em;
					color: $slate-grey;
					position: relative;
					cursor: pointer;

					&::selection {
						background: transparent;
					}

					&:hover input + span {
						box-shadow: 0 0 2px 0 rgba($primary, 0.7);
					}

					input + span {
						border-radius: $border-radius;
						background: $white;
						content: "";
						display: inline-block;
						margin: -0.25em 0.2em 0 0;
						padding: 0;
						vertical-align: middle;
						width: 1em;
						height: 1em;
						background: $element-grey;
						transition: background .1s ease .1s;
						-webkit-backface-visibility: hidden;

						&::after {
							// content: "✔";
							content: '';
							background-image: url("../../assets/checked.svg");
							background-repeat: no-repeat;
							display: block;
							transform: scale(0);
							transition: transform .2s;
							font-size: 0.8em;
							height: 100%;
							margin: 0.2em 0.2em 0.2em;
						}
					}
					input {
						position: absolute;
						cursor: pointer;
						opacity: 0;
						top: 0px;
						left: -2px;
					}
					input:checked + span {
						background: $primary;
						transition: background .2s;
					}
					input:checked + span::after {
						transform: scale(1);
					}
				}

				> span {
					color: $secondary;
					float: right;
				}
			}
		}
		a {
			display: block;
			margin: 0.6em 0 0;
			font-size: 1.4rem;
		}
	}
}
