/*
 * Component - Multiple
 */

@import 'settings/globals';

.vrm-filter {
	&__range {
		div {
			position: relative;

			.vrm-slider {
				margin: 0 0 8px;

				.vue-slider {
					background-color: $element-grey;

					.vue-slider-dot {
						border: 2px solid $white;
						box-shadow: none;
						background-color: $primary;
					}

					.vue-slider-process {
						background-color: $primary;
					}
				}
			}

			div.vrm-range {
				display: flex;
				align-items: center;
				justify-content: center;

				span.vrm-range-input {
					position: relative;
					flex: 1 1 auto;

					input {
						width: 100%;
						text-align: right;
						margin: 0;
						padding: 0 0.5em 0 1.8em;
					}
					label {
						display: inline-block;
						position: absolute;
						left: 0.5em;
						font-size: 0.8em;
						height: 3.2rem;
						top: calc(50% - 0.65em);
						color: $textual-grey;
					}
				}

				span.vrm-range-seperator {
					padding: 0 6px;
				}
			}
		}
	}
}
