/*
 * Component - Sidebar
 */

@import 'settings/globals';

.vrm-sidebar {
	max-width: 260px;
	flex: 1 0 260px;
	padding: 0 10px;

	@media screen and (max-width: 800px) {
		display: flex;
		flex-flow: nowrap column;
		flex: 1 1 100%;
		background: $white;
	}

	@media screen and (max-width: 720px) {
		max-width: 100%;
	}
}
