/*
 * Component - Topbar
 */
@import 'settings/globals';
@import 'components/button';

.vrm-topbar {
	width: 100%;
	height: 2.5em;
	display: flex;
	z-index: 100;

	button {
		@extend .vrm-button;
		flex-grow: 1;
		min-width: 10%;
		border-radius: 0px;
		text-align: left;
		font-weight: 300;
		height: 100%;
		margin: 0;
		text-align: center;
		background: #f3f3f3;
		color: $primary;
		border-right: 1px solid #bec3c8;
		padding: 0.15em 0 0 0;

		&:hover {
			color: $primary;
			background: #f3f3f3;
		}

		&:last-of-type {
			border-right: none;
		}

		&.vrm-topbar {
			&__button {
				&--filters {
					text-align: left;
					padding: 0.1em 0 0 1.5em;

					> i {
						position: absolute;
						width: 1em;
						height: 1em;
						top: calc(50% - 0.5em);
						left: 0.5em;
						transition: transform 0.2s;

						> svg {
							transform: rotate(180deg);
							width: 100%;
							height: 100%;
							position: absolute;
							transform-origin: 50% 50%;
							fill: $primary;
						}
					}
				}
				&--search,
				&--controls {
					>	i {
						font-size: 1.5em;
						> svg {
							fill: $primary;
							display: block;
							margin: auto;
						}
					}
				}
			}

			&__active {
				background: #bec3c8;
				color: #ffffff;

				&.vrm-topbar__button {
					&--filters,
					&--search,
					&--controls {
						> i > svg {
							fill: $white;
						}
					}
				}
			}
		}
	}

	&--sticky {
		position: fixed;
		top: 0;
		z-index: 100;

		button {
			background: $primary;
			color: $white;
			border-right: 1px solid #2d936b;
			&:hover {
				color: $white;
				background: $primary;
			}

			&.vrm-topbar {
				&__button {
					&--filters,
					&--search,
					&--controls {
						>	i {
							> svg {
								fill: $white;
							}
						}
					}
				}
				&__active {
					background: #2d936b;
				}
			}
		}
	}
}
