/*
 * Elements - Forms
 */

@import 'settings/globals';

*::placeholder { color: $base; }

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="image"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
	width: 100%;
	height: $font-size * 2;
	margin: 0 0 1em;
	padding: 0 0.5em;
	background-color: $white;
	border: 1px solid $element-grey;
	border-radius: $border-radius;
	transition: all 300ms $easing;
	color: $black-ish;

	&::placeholder {
		color: $textual-grey;
	}
	&:hover {
		box-shadow: 0 0 4px 0 rgba($primary, 0.7);
	}
	&:focus {
		outline: none;
		border: 1px solid $primary;
		box-shadow: 0 0 8px 0 rgba($primary, 0.7);
	}
}
