/*
 * Global settings
 */

/* Colors */
$base: #aaa;
$white: #fff;

$stealth-grey: #afafaf;
$black: #000;
$primary: #3db383;
$secondary: #e6e5ea;

$textual-grey: #bec3c7;
$element-grey: #dce1e7;
$black-ish: #6c6f72;
$heading-black: #2e2e2e;

/* Typography */
$font-family: 'Fira Sans', sans-serif;
$font-size: 1.6rem;
$font-line-height: 1.6;
$font-weight: normal;
$font-style: normal;
$font-stretch: normal;
$font-color: $black-ish;

/* Other */
$border-radius: 2px;

/* Transitions */
$easing: cubic-bezier(0.215, 0.61, 0.355, 1);
