/*
 * Global settings
 */

/* Colors */
$base: #aaa;
$white: #fff;
$blackish: #282624;
$stealth-grey: #afafaf;
$black: #000;
$primary: #3eb285;
$secondary: #e6e5ea;
$grey: #eeeef0;

/* Typography */
$font-family: "Roboto", sans-serif;
$font-size: 1.6rem;
$font-line-height: 1.6;
$font-weight: 300;
$font-style: normal;
$font-color: $blackish;

/* Other */
$border-radius: 2px;

/* Transitions */
$easing: cubic-bezier(0.215, 0.61, 0.355, 1);
